{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-center">
      <h1 class="display-3">Žena za Pet</h1>
      <hr class="smallHr">
      <p>Dragi čitatelji,
        <br>
        Za početak, da vam se predstavim. Moje ime je Anđela Vanesa Tuta. Dvadeset i dvije su mi godine i dolazim iz
        Zadra.
        Studentica sam 2. godine informacijskih tehnologija te trenutno uz fakultet radim 3 posla i treniram.
        <br>
        Kako sve stižem i kako je to fizički moguće?

        Za početak, vrlo rano sam se osamostalila ( sa 17 godina odselila sam iz roditeljske kuće) što me ustvari
        primoralo da se što brže naučim sve što do tada nisam znala te,
        najvažnije od svega, ovladam vještinom raspolaganja novcem i vremenom.
        Vrlo malo spavam ( od 4 do 6 sati) i svaki dan te svaku obvezu doživljavam kao novi izazov.
        Mrzitelj sam monotonije.
        Uvijek tragam za novim iskustvima. Obožavam kuhati, putovati, slikati, čitati, upoznavati nove ljude, usvajati
        nove vještine…
        Po prirodi radoznala i poprilično perfekcioništički nastrojena, oduvijek sam tragala za što lakšim i što boljim
        načinima da odradim svakodnevne zadatke.

        Tako sam odlučila napraviti ovu stranicu u nadi da ću i vama pomoći da poboljšate svoju svakodnevicu.
        Bilo to neki novim receptom, takozvanim “life-hackom”, prijedlogom za trening…

        Nadam se da ću vas uspjeti inpirirati, motivirati, pa i izmamiti pokoji osmjeh…

      </p>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>
{% endblock %}