{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <h2>“SPIZA” I NJENE RADOSTI
      </h2>
      <p>
        Ako ste kao ja, kada morate ići u “spizu”, u stranicu notesa nadobudno ispisujete sve što vam treba, već odavno
        znate što je i gdje ovaj tjedan na akciji (pogotovo ono što Vam ZAISTA TREBA), već ste okvirno sastavili u
        glavi koncept što ćete kuhati kroz tjedan i što će Vam za to trebati ( ipak uvijek nešto zaboravim)...
        Možda i niste kao ja, što je više vjerojatno, jer, ruku na srce svjesna sam da i nisam baš normalna ili da se
        ljepše izrazim, skačem van margina društveno postavljenih granica “normalnosti” poput Blanke Vlašić na
        Olimpijskim igrama.
        Popis napisan (ili nije), popili ste kavu ( psihička priprema, jel’), dubok uzdahnuli (koliko god možete
        voljeti shopping bilo kakve vrste, morate priznati da je većinom zaista naporan)…. KREĆEMO
        UPS! KOLICA! (aaaaaahhhhh!)
        I onda shvatite da… NEMATE KOVANICA. Ili imate medu koji ne ulazi. „Što sad? Da pitam čovjeka koji ispred ulaza
        prosi za pivu? Da mu dam 5 kuna i molim da mi vrati 2? Ma ne, daj toliki debil nisi čak ni ti… „
        Stavih ruke u džep kako bih posegnula za cigaretom (pod stresom sam, tako sebi opravdavam “seljačko” pušenje u
        garaži supermarketa), napipam ključeve i … “PA TO JE TO!”, uzviknem u sebi,
        “Skinuti ću ključ od kuće s maca ključeva i probati s njim, vidjela sam to nekad negdje na netu…”
        III USPJEH! Ključ ulazi i lanac se odvaja od kolica!

        Ukoliko se ikada nađete u ovakvoj situaciji, ovaj naizgled beskoristan savjet zasigurno će Vam uštediti pokoji
        živac…

      </p>
      <img class="tipsImg" src="{{ url_for('static', filename='img/tip1.jpg') }}" alt="">
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>
{% endblock %}